.category-card {
    gap: 5px;
}

.card-content {
    margin-top: 8px;
}

.card-title {
    font-size: 25px;
}

#category-page-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.recipe-card-img-top {
    width: 500px;
}