<%- include('../partials/header.ejs') %>

<h3>Recipes:</h3>
<div class="recipes-container">
    <% recipes.forEach(function(recipe){ %>
        <div class="recipes-card" style="width: 18rem;">
            <div class="recipes-card-body">
                <h5 class="recipes-card-title">
                    <%= recipe.strMeal %>
                </h5>
                <a href="/recipes/show/<%= recipe.strMeal %>" class="recipes-card-link">Details</a>
            </div>
        </div>
    <% }); %>
</div>

<%- include('../partials/footer.ejs') %>